@font-face {font-family: "MuseoSansW01-Rounded300";
    src: url("//db.onlinewebfonts.com/t/1b4cd06b44538d529084b3599f708643.eot");
    src: url("//db.onlinewebfonts.com/t/1b4cd06b44538d529084b3599f708643.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/1b4cd06b44538d529084b3599f708643.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/1b4cd06b44538d529084b3599f708643.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/1b4cd06b44538d529084b3599f708643.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/1b4cd06b44538d529084b3599f708643.svg#MuseoSansW01-Rounded300") format("svg");
}

body {
/*   background-color: #4AC7CA; */
/*   background-color: #90A9C8; */
/*    background-color: #C5A684; */
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: "MuseoSansW01-Rounded300";
  color: #1A1A00;
}
.conteiner {
  background-color: #FFFFE5;
  padding: 20px;
  width: 900px;
  box-shadow: 2px 2px 20px;
}
.bar {
  fill: #70A2E3;
}
.bar:hover {
  fill: #FFFFE5;
}

#title {
  text-align: center;
  font-size: 36px;
}
#tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;			
  text-align: center;			
  width: 130px;					
  height: 46px;					
  padding: 2px;				
  font: 16px;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 3px;			
  pointer-events: none;
  box-shadow: 1px 1px 10px;
}
