$barColor: #ED3752;
$bodyColor: #324D5C;
@font-face {font-family: "FlexoW01-Regular";
    src: url("//db.onlinewebfonts.com/t/ea0517f0c20dfd81ffa9363950561257.eot");
    src: url("//db.onlinewebfonts.com/t/ea0517f0c20dfd81ffa9363950561257.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ea0517f0c20dfd81ffa9363950561257.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/ea0517f0c20dfd81ffa9363950561257.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/ea0517f0c20dfd81ffa9363950561257.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/ea0517f0c20dfd81ffa9363950561257.svg#FlexoW01-Regular") format("svg");
}
body { 
  background-color: $bodyColor;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: "FlexoW01-Regular";
}
.conteiner {
  background-color: #fff;
  padding: 20px;
  width: 900px;
  box-shadow: 2px 2px 20px;
}
.bar {
  fill: $barColor;
}
.bar:hover {
  fill: #fff;
}

#title {
  text-align: center;
  font-size: 40px;
}
#tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;			
  text-align: center;			
  width: 130px;					
  height: 46px;					
  padding: 2px;				
  font: 16px;		
  background: lighten($bodyColor, 34%);	
  border: 0px;		
  border-radius: 3px;			
  pointer-events: none;
  box-shadow: 1px 1px 10px;
}
.info {
  font-size: 0.8em;
}
