body {
/*   background-color: #4AC7CA; */
/*   background-color: #90A9C8; */
/*    background-color: #C5A684; */
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner {
  background-color: #FFFFE5;
  padding: 20px;
  width: 900px;
  box-shadow: 2px 2px 20px;
}
.tick {
  color: #333300;
}
.bar {
  fill: #362F78;
}
.bar:hover {
  fill: #FFFFE5;
}

#title {
  text-align: center;
  font-size: 26px;
}
#tooltip {	
    position: absolute;			
    text-align: center;			
    width: 120px;					
    height: 40px;					
    padding: 2px;				
    font: 16px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
